<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WrkstrmEnvironment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>WrkstrmPerfSupport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>WrkstrmPerformance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>WrkstrmPerformanceObjC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>WrkstrmPerformanceUIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
	</dict>
</dict>
</plist>
